.navbar-collapse {
  justify-content: center;
}

.navbar {
  background: transparent;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  padding: 0 !important;

  .container {
    padding: 15px 0;
    -webkit-transition: padding 0.3s ease-out;
    transition: padding 0.3s ease-out;
  }

  .navbar-nav {
    float: none;
    text-align: center;
    align-items: center;

    .active
    a:before,
    a:hover:before {
      bottom: 10px;
      opacity: 1;
    }

    .logo {
      opacity: 1;
      vertical-align: middle;

      a:before {
        display: none;
      }

      h1 {
        font-size: 64px;
        font-weight: 600;
        -webkit-transition: font-size 0.3s ease-out;
        transition: font-size 0.3s ease-out;
      }

      span {
        font-size: 90%;
        position: relative;
        top: 15px;
      }
    }

    li {
      display: inline-block;
      float: none;
      background: transparent;
      margin: 0 20px;
      opacity: 0.7;
      vertical-align: middle;
      -webkit-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;

      &.active,
      &:hover {
        opacity: 1;
      }
    }

    a {
      position: relative;
      z-index: 1;
      padding: 0 5px !important;
      font-size: 15px;
      line-height: 54px;
      font-weight: 700;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      background: transparent;
      color: #fff;

      &:before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 25%;
        content: "";
        width: 50%;
        height: 3px;
        background: #fff;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:active,
      &:hover {
        padding: 0 5px !important;
        font-size: 15px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        background: transparent;
        color: #fff;
      }
    }
  }

  &.scrolled {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .container {
      padding: 0;
    }

    .navbar-nav {
      a {
        color: inherit;

        &:before {
          background: #3a3c4a;
        }
      }

      .logo {
        h1 {
          font-size: 52px;
        }

        a:hover {
          color: #38A5DB;
          -webkit-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
      padding:0 20px;
      background:#fff;
      box-shadow:0 1px 2px rgba(0,0,0,0.1);
  }
}
