.section {
  background-color: #f2f2f2;
}

.filters {
  margin-bottom: 40px;

  .filter {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 10px 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.project {
  height: 220px;
  margin-bottom: 25px;
  background-color: #000000;
}
