.button {
  font-size: inherit;

  a {
    display: inline-block;
    font-size: inherit;
    padding: 10px 30px;
    margin: 20px 0;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    height: 52px;
    background: #38A5DB;
    color: #fff;
    border-radius: 52px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &.light a {
    background: transparent;
    border: 2px solid #FFFFFF;
  }
}
