.jumbotron {
  background: #38A5DB;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
  padding: 180px 0 80px;
  overflow: hidden;
  border-radius: 0;

  .textCol {
    margin-top: 50px;
  }

  h1 {
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }

  p {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .imacFrame {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;

    .slickSlider {
      position: absolute;
      z-index: 99;
      top: 6%;
      left: 6%;
      width: 88%;
      height: 65%;
      overflow: hidden;
      border-radius: 4px;

      img {
        width: 100%;
      }
    }
  }

  .imac-screen {
    background: transparent;
    display: block;
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 65%;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
}
